<html>
<head>
  <title>CURD Operations</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"></script>
</head>
<style>
    .jumbotron{
        margin-top: 100px;
        margin-right: 100px;
        margin-left: 100px;
        padding-left: 40px;
    }
    a{
        margin-left: 150px;
        font-size: 30px;
    }
</style>
<body>
  <h1 style='text-align:center;color:red'>S&V software services</h1>
<div class="jumbotron">
    <a href="/create/">Create</a>
    <a href="/retrieve/">Retrieve</a>
    <a href="/update/">Update</a>
    <a href="/delete/">Delete</a>
</div>
</body>
</html>
